<!DOCTYPE html>
<html>
  <head>
    <title>Elis López CV</title>
    <meta name="viewport" content="width=devie-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
  </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PWVG25Z6CR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PWVG25Z6CR');
</script>
  <body>
    <div>
      <h1>Elis López</h1>
      <img
        src="https://i.pinimg.com/originals/0a/f5/74/0af5745b98a31e9db3ca5051a623f55a.jpg"
        alt="yo"
      />
      <section>
        <h2>Sobre mí</h2>
        <p>
          Soy un estudiante de ingenieria informatica, apasionado por la
          computacion. Siempre inclinado a aprender cosas nuevas. <br /><br />
          Me desenvuelvo en el campo de la programacion fullstack, mi lenguaje
          favorito es Java y me caracterizo por ser colavorativo y bueno
          trabajando en equipo.
        </p>
      </section>
      <section>
        <h2>Datos personales</h2>
        <ul>
          <li>CI: 31081038</li>
          <li>Edad: 19 años</li>
        </ul>
      </section>
      <section>
        <h2>Formación académica</h2>
        <p>Bachillerato en "Unidad Educativa Privada Leonardo Da Vinci"</p>
        <p>
          Cursando ingenieria informatica en la Universidad Nacional
          Experimental Romulo gallegos: 2do año
        </p>
      </section>
      <section>
        <h2>Experiencia laboral</h2>
        <p>
          Desarrollador de Front-End <br />
          Tech Innovators Inc <br />
          Noviembre 2022-noviembre 2023
        </p>
        <ul>
          <li>
            Diseñé y desarrollé interfaces de usuario atractivas y funcionales
            utilizando HTML, CSS y JavaScript
          </li>
          <li>
            Colaboré estrechamente con el equipo de desarrollo para integrar el
            diseño front-end con la logica del back-end en proyectos basados en
            Java
          </li>
          <li>
            Participé en reuniones de planificación y revisión de codigo para
            garantizar la coherencia y la calidad del codigo
          </li>
        </ul>
      </section>
      <section>
        <h2>Habilidades y destrezas</h2>
        <ul>
          <li>Utilizacion de html y css para la creacion de paginas web</li>
          <li>Gestion de bases de datos con MySql</li>
          <li>Programacion en java, nivel intermedio</li>
          <li>conocimientos avanzados en algoritmos</li>
        </ul>
      </section>
      <section >
        <h2>¿Quieres contactarme?</h2>
          <form id="contacto-form" method="post" action="form-contacto" onsubmit="return submitUserForm();">
            <input type="email" name="email" id="email" placeholder="email" required />
            <input type="text" name="name" id="name" placeholder="nombre" required />
            <textarea
              required
              name="mensaje"
              id="mensaje"
              cols="30"
              rows="10"
              placeholder="comentario"
            ></textarea>
            <div class="g-recaptcha" data-size="compact" data-sitekey="6Ldf9e0pAAAAAM7bACRE92QknJtaUDmfFGzuNEs2" data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error"></div>
            <button type="submit" id="submit-btn" value="submit">Enviar</button>
          </form>
       </section>
      <section id="contact">
        <p>Redes sociales</p>
        <a
          href="https://www.linkedin.com/in/elis-l%C3%B3pez-1bb569232/"
          target="_blank"
          class="contacto"
        >
          <img
            src="https://i.pinimg.com/originals/d4/92/ef/d492efc706db983e74258dbd348f2208.png"
            alt="linkedin"
          />
        </a>
        <a
          href="https://github.com/ElisLopez12"
          target="_blank"
          class="contacto"
        >
          <img
            src="https://i.pinimg.com/originals/07/d4/45/07d4450997e63311e0112367212d3f7a.png"
            alt="Github"
          />
        </a>
      </section>
    </div>
    <script>
      var recaptcha_response='';
function submitUserForm(){
    if(recaptcha_response.length ==0){
        document.getElementById('g-recaptcha-error').innerHTML='<span>Resuelva el captcha antes de enviar</span>';
        return false;
    }
    return true;
}

function verifyCaptcha(token){
    recaptcha_response = token;
    document.getElementById('g-recaptcha-error').innerHTML='';
}
    </script>

<script>
  document.getElementById('submit-btn').addEventListener('click', async () => {
    const form = document.getElementById('contacto-form');
    const formData = new FormData(form);
  
    const response = await fetch('/form-contacto', {
      method: 'POST',
      body: formData,
    });
  
    if (response.ok) {
      console.log('Formulario enviado con éxito');
    } else {
      console.error('Error al enviar el formulario');
    }
  });
  </script>

  </body>
</html>