<!DOCTYPE html>
<html>
  <head>
    <title>hola mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"
  </head>
  <body>
    <div>
    <h1>Elis López</h1>
    <section id="datos">
      <h2>Datos personales</h2>
      <ul>
        <li>CI: 31081038</li>
        <li>Edad: 19 años</li>
      </ul>
    </section>
    <section>
      <h2>Formación académica</h2>
      <p>Cursando ingenieria informatica en la Universidad Nacional Experimental Romulo gallegos: 2do año</p>
    </section>
    <section>
      <h2>Experiencia laboral</h2>
      <p>Desarrollador de Front-End <br>
      Tech Innovators Inc <br>
      Noviembre 2022-noviembre 2023</p>
      <ul>
        <li>Diseñé y desarrolé inrfaces de usuario atractivas y funcionales utilizando HTML, CSS y JavaScript</li>
        <li>Colaboré estrechamente con el equipo de desarrollo para integrar el diseño front-end con la logica del back-end en proyectos basados en  Java</li>
        <li>Participé en reuniones de planificación y revisión de codigo para garantizar la coherncia y la calidad del codigo</li>
      </ul>
    </section>
    <section>
      <h2>Habilidades y destrezas</h2>
      <ul>
        <li>Utilizacion de html y css para la creacion de paginas web</li>
        <li>Gestion de bases de datos con MySql</li>
        <li>Programacion en java, nivel intermedio</li>
        <li>conocimientos avanzados en algoritmos</li>
      </ul>
    </section>
    </section>
    <section>
      <h2>Contacto</h2>
      <ul>
        <li><a href="mailto:elismiguellopezgonzalez@hotmail.com">Enviame un Email</a></li>
        <li><a href="https://github.com/ElisLopez12" target="_blank">GitHub</a></li>
      </ul>
    </section>
    </div>
  </body>
</html>