<!DOCTYPE html>
<html>
  <head>
    <title>hola mundo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HOLA MUNDO</h1>
    <h2>Nombre: <%=nombre%></h2>
    <h2>Cedula: <%=cedula%></h2>
    <h2>Seccion: <%=seccion%></h2>
  </body>
</html>