body {
  font-family:'Roboto' Arial, sans-serif;
  margin: 40px;
  background: #000;
}

h1 {
  color: #333;
  margin-left:38%;
  margin-right: 25%;
  font-size: 50px;

}

section {
  background-color: #f9f9f9;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left:15%;
  margin-right:15%;
}

section:nth-child(odd) {
  background-color: #f9f9f9;
}

p{
  margin-top: 2%;
  margin-bottom: 2%;
}


